@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('./homeNew.png');
  background-size: cover;
  background-position: center;
}
.building-btn {
  @apply absolute; /* Tailwind utility for position: absolute */
  /* Custom positioning */
}


.building-1 {
  position: absolute;
  top: 35%; 
  left: 33%; 
}

.building-2 {
  position: absolute;
  top: 44%; 
  left: 30%; 
}

.building-3 {
  position: absolute;
  top: 49%; 
  left: 37%; 
}

.building-4 {
  position: absolute;
  top: 53%; 
  left: 44%; 
}

.building-5 {
  position: absolute;
  top: 40%; 
  left: 44%; 
}

.building-6 {
  position: absolute;
  top: 44%; 
  left: 51%; 
}

.building-7 {
  position: absolute;
  top: 53%; 
  left: 57%; 
}



/* Rotate message //////////////////////  */


/* 




/* END rotate message////////////////////// */

/* globals.css */
/* Add this to your global CSS file */

.modal-container {
  width: 80%; /* Default width */
  height: auto; /* Adjust height automatically */
  padding: 20px; /* Default padding */
  max-width: 1000px; /* Maximum width */
  max-height: 100vh; /* Maximum height */
}
.modal-container1 {
  height: auto; /* Adjust height automatically */
  padding: 20px; /* Default padding */
  max-width: 1000px; /* Maximum width */
  max-height: 100vh; /* Maximum height */
}

.modal-content img {
  max-width: 100%; /* Allow image to fill the modal */
  height: auto; /* Adjust height to maintain aspect ratio */
  object-fit: contain; /* Ensure the image fits within the container */
}

@media screen and (max-width: 1100px) {
  .modal-container {
    width: 60%; /* Reduce width for smaller screens */
    height: auto; /* Adjust height automatically */
    padding: 10px; /* Reduce padding */
  }
}

@media (max-width: 1024px) {
  .foto3 {
      height: 380px;
      width: 230px;
  }
}

/* Add to your global CSS file */

.carousel-container {
  width: 80%; /* Same as modal */
  height: auto;
  max-width: 1000px;
  max-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.carousel-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.carousel-prev, .carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-prev {
  left: 10px;
}

.carousel-next {
  right: 10px;
}

/* Responsive design */
@media screen and (max-width: 1100px) {
  .carousel-container {
    width: 60%;
  }
}

.rotate-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  text-align: center;
  font-size: 1.5em;
}
.rotate-message video {
  width: 100%; /* Adjust as necessary */
  max-width: 1000px; /* Adjust as necessary */
  height: auto;
  margin-bottom: 20px;
}
